body {
    font-family: Helvetica;
    background-color: #ffffffe2;
    margin: 0;
    padding: 0;
    font-size: smaller;
}

a {
    text-decoration: none;
}

.top-nav ul {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    margin-bottom: 250px;
    list-style: none;
}

.top-nav a {
    color: black;
}

.work {
  display: flex;
  flex-direction: column;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.gallery img {
    width: 90%;
    height: auto;
    display: block;
    padding-bottom: 100px;
}

