body {
    font-family: Helvetica;
    background-color: #ebefeee2;
    margin: 0;
    padding: 0;
    font-size: smaller;
}

a {
    text-decoration: none;
}

.top-nav ul {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    list-style: none;
}

.top-nav a {
    color: black;
}

.gallery {
    column-count: 3;     /* 한 줄에 3열 */
    column-gap: 20px;    /* 열 사이 간격 */
    padding: 20px;
}

.gallery img {
    width: 100%;
    margin-bottom: 20px;
    display: block;
    border-radius: 6px;
}

/* 반응형 */
@media (max-width: 600px) {
    .gallery {
        column-count: 2;
    }
}
@media (max-width: 400px) {
    .gallery {
        column-count: 1;
    }
}
