/*기본설정*/
/*poppins*/
@font-face {
  font-family: 'poppins';
  src: url('../font/poppins/Poppins-Light.ttf') format('truetype'); 
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'poppins'; 
  src: url('../font/poppins/Poppins-Regular.ttf') format('truetype'); 
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'poppins'; 
  src: url('../font/poppins/Poppins-Medium.ttf') format('truetype'); 
  font-weight: 500; 
  font-style: normal;
}

@font-face {
  font-family: 'poppins'; 
  src: url('../font/poppins/Poppins-SemiBold.ttf') format('truetype'); 
  font-weight: 600; 
  font-style: normal;
}

@font-face {
  font-family: 'poppins'; 
  src: url('../font/poppins/Poppins-Bold.ttf') format('truetype'); 
  font-weight: 700; 
  font-style: normal;
}

/*cossette*/
@font-face {
  font-family: 'cossette';
  src: url('../font/cossette/CossetteTexte-Regular.ttf') format('truetype'); 
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'cossette';
  src: url('../font/cossette/CossetteTexte-Bold.ttf') format('truetype'); 
  font-weight: 600;
  font-style: normal;
}

@property --bg-gradient-color {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(18, 18, 18);
}

html, body {
  margin: 0; padding: 0;
  width: 100%; height: 100%;
  overflow: hidden;
}

body {
  font-family: 'poppins';
  -webkit-font-smoothing: antialiased;

  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.25px;
}



::selection {
  background: transparent; 
}
::-moz-selection { 
  background: transparent; 
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

:root {
  --tab-height: 50px;
  --header-gap: 45px;
  --text-color: white;
}


/*landing page*/
#bg-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  pointer-events: none;
}

#bg-photo-container {
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

#bg-photo, #bg-photo-next {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.8s ease;
  
}

#bg-photo-next {
  opacity: 0;
}

.about-me {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  position: relative;
  margin: 0;
  text-decoration: none;
  z-index: 50;
  pointer-events: none;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  gap: 0px;
}

.about-me {
  pointer-events: auto !important; 
}

.my-name, .contact p a, .my-bio {
  pointer-events: auto; 
}

.my-name a, 
.contact p a, 
.my-bio {
  opacity: 1 !important; 
  transition: opacity 0.4s ease !important; 
  will-change: opacity; 
}

.my-name {
  grid-row: 1;
  grid-column: 1/2;
  margin: 0;
  pointer-events: auto;
}

.contact {
  grid-row: 1;
  z-index: 20;
  pointer-events: auto;
  width: fit-content;
}

body.tab-open .my-name a, 
body.tab-open .contact p a, 
body.tab-open .my-bio {
  opacity: 0.4 !important; 
}

body.tab-open .contact p a {
  cursor: pointer !important;
}

body.tab-open .contact a {
  pointer-events: none; 
}

.contact, .contact p {
  display: contents; 
}

.contact p a:nth-child(1) {
  grid-column: 2 / 3;
  grid-row: 1;
  margin: 0;
}

.contact p a:nth-child(2) {
  grid-column: 3 / 4;
  grid-row: 1;
  margin: 0;
}

.contact p a:nth-child(3) {
  grid-column: 4 / 5;
  grid-row: 1;
  margin: 0;
}


.my-bio {
  color: var(--text-color);
  grid-column: 1/2; 
  grid-row: 2; 

  margin-top: 15px;
}

.my-bio p {
  text-decoration: none;
}

.my-name a, .contact p a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.8s ease;
}

/*그라데이션*/
.about-me::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  height: 150%; 
  background: linear-gradient(to bottom, var(--bg-gradient-color) 0%, transparent 100%);
  z-index: -1; 
  pointer-events: none;

  transition: --bg-gradient-color 0.4s ease-out;
}

/*
.tape-upper {
  position: absolute;
  top: -1.5vw; 
  left: -2vw;
  width: 10vw;
  transform: rotate(-30deg);
  z-index: 10;
  pointer-events: none;
}

.tape-bottom {
  position: absolute;
  bottom: -1.5vw; 
  right: -2vw;
  width: 10vw;
  transform: rotate(-30deg);
  z-index: 10;
  pointer-events: none;
}

*/
/*
.paper {
  position: absolute;
  top: 50px; right: 90px;
  background: none;
  width: 500px;
  pointer-events: none;
  
}
.intro-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.intro-text-image {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  display: block; 
}

#click-zone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  cursor:pointer;

  pointer-events: auto;
}

#click-zone.expanded {
  width: 340px;
  height: 420px;
}
*/

.tab {
  position: relative;
  height: var(--tab-height);
  width: 100%;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;

/*
  border-radius: 15px 15px 0 0;
*/
}

.label-btn {
  z-index: 1;
  
  grid-column: 1;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: rgb(18, 18, 18);
  cursor: pointer;
  width: fit-content;

  padding: 0;
  padding-right: 5px;
}

.label-btn:hover {
  font-weight: 600;
}


.tab-toggle {
  grid-column: 2 / 5;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.tab-detail-name {
  grid-column: 2 / 5;
  pointer-events: none;
}

.folder {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  pointer-events: none;
  filter: drop-shadow(0 -2px 3px rgba(0, 0, 0, 0.15));
}

#folder-projects {
  z-index: 100;
  transform: translateY(calc(100% - var(--tab-height) * 2));
}

#folder-archive {
  z-index: 200;
  transform: translateY(calc(100% - var(--tab-height) * 1));
}

#folder-projects.open,
#folder-projects.detail-mode {
  transform: translateY(var(--header-gap));
}

#folder-archive.open,
#folder-archive.detail-mode {
  transform: translateY(calc(var(--header-gap) + var(--tab-height)));
}

#folder-projects .page,
#folder-archive .page {
  background-color: #f1f1f1;
}

#folder-projects .tab,
#folder-archive .tab {
  background-color: #f1f1f1;
}

.page {
  position: absolute;
  top: calc(var(--tab-height) - 3px);
  left: 0;
  width: 100%;
  height: calc(100% - var(--tab-height));
  overflow-y: auto;
  pointer-events: auto;
  padding-bottom: calc(var(--tab-height) + 55px);
  box-sizing: border-box; 
}
/*
.tab, .page {
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
*/

/*
.landing-info {
  position: fixed;
  bottom: 50px;
  left: 50px;

  background-image: url('../images/torn.webp');
  background-size: cover; 
  background-position: center;
  padding: 10px 30px;
}

.landing-info p {
  font-size: 14px;
  color:rgb(53, 53, 53);
}
*/

/*프로젝트*/

.project-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  width: 100%;
  padding:30px;
  align-items: start;
  box-sizing: border-box;
}

.project-gallery {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 15px;
}

.project-item {
  display: flex;
  text-decoration: none;
  margin-right: 15px;
  
  transition: opacity 0.2s ease;
}

.thumbnail img,
.thumbnail video {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  display: block;
}

.project-list {
  grid-column: 1 / 2;
  grid-row: 1 / span 4;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  top: 0px; 

  align-self: start;
  position: sticky;

}

.project-list a {
  text-decoration: none;
  color: rgb(142, 142, 156);

  display: inline-block; 
  width: fit-content;
  padding-bottom: 15px;

  transition: color 0.2s ease;
}



/* ─── 4. 하이라이트 호버 로직 (서로 연동) ─── */

.project-grid:has(a:hover){
  color: rgb(142, 142, 156)
}

.project-grid:has(a:hover) .project-item {
  opacity: 0.7;
}


/* 마우스를 올린 대상과, 같은 data-project를 가진 짝꿍만 선명하게 */
.project-list:has(a[data-project="mutter"]:hover) a[data-project="mutter"],
.project-list:has(a[data-project="chocolate"]:hover) a[data-project="chocolate"],
.project-list:has(a[data-project="blockparty"]:hover) a[data-project="blockparty"],
.project-list:has(a[data-project="johnny"]:hover) a[data-project="johnny"],
.project-list:has(a[data-project="sunrise"]:hover) a[data-project="sunrise"],
.project-list:has(a[data-project="skillscape"]:hover) a[data-project="skillscape"],
.project-list:has(a[data-project="crookedlane"]:hover) a[data-project="crookedlane"],
.project-list:has(a[data-project="kaleidoscope"]:hover) a[data-project="kaleidoscope"] {
  color: rgb(18, 18, 18) !important;
}

.project-grid:has(a[data-project="mutter"]:hover) a[data-project="mutter"],
.project-grid:has(a[data-project="chocolate"]:hover) a[data-project="chocolate"],
.project-grid:has(a[data-project="blockparty"]:hover) a[data-project="blockparty"],
.project-grid:has(a[data-project="johnny"]:hover) a[data-project="johnny"],
.project-grid:has(a[data-project="sunrise"]:hover) a[data-project="sunrise"],
.project-grid:has(a[data-project="skillscape"]:hover) a[data-project="skillscape"],
.project-grid:has(a[data-project="crookedlane"]:hover) a[data-project="crookedlane"],
.project-grid:has(a[data-project="kaleidoscope"]:hover) a[data-project="kaleidoscope"] {
  opacity: 1 !important;
}


/*상세 페이지*/
.detail-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
  align-items: start;
}

.project-sidebar-area {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;

  position: sticky;
  top: 0;
}

.detail-name {
  margin: 0;
  word-break: keep-all;
  display: none;
}


.detail-description {
  grid-column: 2/5;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-row: 1;

  column-gap: 15px;
  overflow: hidden;
  font-size: 17px;
  line-height: 1.32;
}

.description-text {
  grid-column: 2/4;
}

.detail-description p {
  margin: 0; 
  margin-top: 0;
}

.detail-credits {
  
  grid-column: 1/2;
  display: grid;
  
  word-break: keep-all;
  pointer-events: none;
}

.credit-label {
  
  padding: 0; margin: 0;
  color: rgb(18, 18, 18);
}

.credit-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.detail-meta {
  display: flex;
  flex-direction: column;
  color: rgb(142, 142, 156);
}



/*사진*/
.photo-section {
  grid-column: 2/5;
  grid-row: 2;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.photo-section > video {
  width: 100%;
  height: auto;
  max-height: 900px;
  object-fit: contain;
}

.photo {
  width: 100%;
  max-width: none;
}

.photo img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}

.photo-row {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 15px;
  width: 100%;
  
  align-items: start;
}

.photo-section iframe {
  width: 100%;
  aspect-ratio: 16 / 9; 
  height: auto;
  
  border: none;
  
  display: block;
  margin: 0;
}

.video-shorts {
    width: 100%;
    aspect-ratio: 9 / 16 !important;
    
    max-height: 80vh; 
    margin: 0 auto;
    display: block;
}

.photo-row-left, .photo-row-right, .photo-row-half, .photo-row-3 {
  display: grid; width: 100%;
  aspect-ratio: 16 / 9; gap: 15px; overflow: hidden;
}

.photo-row-left img, .photo-row-left video,
.photo-row-right img, .photo-row-right video,
.photo-row-half img, .photo-row-half video {
  width: 100%; height: 100%; object-fit: cover;
}

.photo-row-left {
  grid-template-columns: 1fr 2fr; 
}

.photo-row-right {
  grid-template-columns: 2fr 1fr;
}

.photo-row-half {
  grid-template-columns: 1fr 1fr; 
}


/*archive*/
.page.archive {
  overflow: auto;
}

.chaotic-photo-pile {
  position: absolute;
  width: 100%;
  height: 100%;
  flex: 1;
}

.pile-photo {
  position: absolute;
  max-width: 300px;
  max-height: 300px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.pile-photo:hover {
  transform: translate(-50%, -50%) scale(1.3);
  z-index: 1000 !important; 
}


