html, body {
  margin: 0; padding: 0;
  width: 100%; height: 100%;
  overflow: hidden;
}

body {
  font-family: "Helvetica", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;

  font-size: 19.5px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.35px;
}



:root {
  --tab-height: 50px;
  --header-gap: calc(45px + 1vh);
  --text-color: white;
}

#bg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  z-index: 0;
}

#bg-photo-container {
  display: inline-flex;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

#bg-photo, #bg-photo-next {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.8s ease;
}

#bg-photo-next {
  opacity: 0;
}

.about-me {
  padding-top: 0.7vh;
  display: grid;
  position: relative;
  width: 40vw;
  margin: 0;
  text-decoration: none;
  mix-blend-mode: difference;
}

.about-me p, .contact p {
  margin: 0px;
  color: var(--text-color);
  padding: 10px;
  padding-left: 1vw;
  transition: color 0.8s ease;
}



.my-name {
  margin: 0;
  pointer-events: auto;
  font-size:19.5px;
}

.my-bio p {
  text-decoration: none;
}

.my-name a, .contact p a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.8s ease;
}

/*
.tape-upper {
  position: absolute;
  top: -1.5vw; 
  left: -2vw;
  width: 10vw;
  transform: rotate(-30deg);
  z-index: 10;
  pointer-events: none;
}

.tape-bottom {
  position: absolute;
  bottom: -1.5vw; 
  right: -2vw;
  width: 10vw;
  transform: rotate(-30deg);
  z-index: 10;
  pointer-events: none;
}

*/
/*
.paper {
  position: absolute;
  top: 50px; right: 90px;
  background: none;
  width: 500px;
  pointer-events: none;
  
}
.intro-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.intro-text-image {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  display: block; 
}

#click-zone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  cursor:pointer;

  pointer-events: auto;
}

#click-zone.expanded {
  width: 340px;
  height: 420px;
}
*/

.tab {
  position: relative;
  height: var(--tab-height);
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 1vw;
  padding-right: 3vw;
  align-items: center;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 15px 15px 0 0;
}

.tab {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  background: #c0c0c0;
}

.label-btn {
  position: absolute;
  left: -0.5vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  grid-column: 1;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: black;
  cursor: pointer;
  text-align: left;
  width: fit-content;
}

.label-btn:hover {
  color: blue;
  font-style:italic;
}


.tab-toggle {
  grid-column: 1 / 6;
  height: 100%;
  cursor: pointer;
  display: grid;
  align-items: center;
}

.tab-detail-name {
  grid-column: 2 / 6;  /* toggle 안에서 column 2 위치에 */
  pointer-events: none;
}

.folder {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.65s cubic-bezier(0.77, 0, 0.175, 1);
  pointer-events: none;
  filter: drop-shadow(0 -2px 3px rgba(0, 0, 0, 0.15));
}

#folder-projects {
  z-index: 100;
  transform: translateY(calc(100% - var(--tab-height) * 2));
}

#folder-archive {
  z-index: 200;
  transform: translateY(calc(100% - var(--tab-height) * 1));
}

#folder-projects.open,
#folder-projects.detail-mode {
  transform: translateY(var(--header-gap));
}

#folder-archive.open,
#folder-archive.detail-mode {
  transform: translateY(calc(var(--header-gap) + var(--tab-height)));
}

#folder-projects .page,
#folder-archive .page {
  background-color: #f1f1f1;
}

#folder-projects .tab,
#folder-archive .tab {
  background-color: #f1f1f1;
}

.page {
  position: absolute;
  top: calc(var(--tab-height) - 3px);
  left: 0;
  width: 100%;
  height: calc(100% - var(--tab-height));
  background: #f1f1f1;
  overflow-y: auto;
  pointer-events: auto;
  padding-bottom: calc(var(--tab-height) + 55px);  /* ✅ 추가 */
  box-sizing: border-box; 
}
/*
.tab, .page {
  transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}
*/

/*
.landing-info {
  position: fixed;
  bottom: 50px;
  left: 50px;

  background-image: url('../images/torn.webp');
  background-size: cover; 
  background-position: center;
  padding: 10px 30px;
}

.landing-info p {
  font-size: 14px;
  color:rgb(53, 53, 53);
}
*/

/*프로젝트*/

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); /* 4열 */
  box-sizing: border-box;

  column-gap: 3vw;
  row-gap: 80px;
  width: 100%;
  align-items: start;
  padding: 1vw;
  padding-top: 5vh;
  
}

.project-item {
  display: flex; 
  flex-direction: column;

  text-decoration: none;
  color: inherit;
}

.thumbnail {
  width: 100%;
  margin-bottom: 10px;
}

.thumbnail img,
.thumbnail video {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  display: block;
}

.project-meta {
  display: flex;
  align-items:start;
}

.project-name {
  margin: 0;
  font-size: 19.5px;
}


/*상세 페이지*/


.detail-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-top: 3vw;
  padding-left: 1vw;
  padding-right: 3vw;
  box-sizing: border-box;
  width: 100%;

  align-items: start;

  gap: 20px;
}

.detail-name {
  grid-column: 1 / 2; 
  margin: 0;
  word-break: keep-all;
  display: none;
}
.detail-meta {
  grid-column: 1/2;
  
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  font-size: 14.5px;
  color: rgb(105, 105, 122);
}

.detail-description {
  grid-column: 2/6;
  column-count: 2;
  column-gap: 2vw;
  column-fill: auto;
  font-size: 16px;
  line-height: 1.25;
}

.detail-description p {
  margin: 0; 
  margin-top: 0;
}



/*사진*/
.photo-section {
  grid-column: 2/6;
  grid-row: 2;
  margin-top: 20px;
  
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.photo-section > video {
  width: 100%;
  height: auto;
  max-height: 900px;
  object-fit: contain;
}

.photo {
  width: 100%;
  max-width: none;
}

.photo img {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}

.photo-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  width: 100%;
  
  align-items: start;
}

.photo-section iframe {
  width: 100%;
  aspect-ratio: 16 / 9; 
  height: auto;
  
  border: none;
  
  display: block;
  margin: 0;
}

.video-shorts {
    width: 100%;
    aspect-ratio: 9 / 16 !important;
    
    max-height: 80vh; 
    margin: 0 auto;
    display: block;
}

.photo-row-left, .photo-row-right, .photo-row-half, .photo-row-3 {
  display: grid; width: 100%;
  aspect-ratio: 16 / 9; gap: 10px; overflow: hidden;
}

.photo-row-left img, .photo-row-left video,
.photo-row-right img, .photo-row-right video,
.photo-row-half img, .photo-row-half video,
.photo-row-3 img, .photo-row-3 video {
  width: 100%; height: 100%; object-fit: cover;
}

.photo-row-left {
  grid-template-columns: 1fr 2fr; 
}

.photo-row-right {
  grid-template-columns: 2fr 1fr;
}

.photo-row-half {
  grid-template-columns: 1fr 1fr; 
}

.photo-row-3 {
  grid-template-columns: repeat(5, 1fr); 
}



/*archive*/
.page.archive {
  overflow: hidden;
}

.chaotic-photo-pile {
  position: absolute;
  width: 100%;
  height: 100%;
  flex: 1;

}

.pile-photo {
  position: absolute;
  max-width: 300px;
  max-height: 300px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
}

.pile-photo:hover {
  transform: translate(-50%, -50%) scale(1.3);
  z-index: 1000 !important; 
}

