body {
    font-family: Helvetica;
    background-color: #dde2e1;
    margin: 0;
    padding: 0;
}

.top-nav ul {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 0px;
    list-style: none;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 100px;
}

.work {
    min-width: 250px;
    max-width: 1fr;
    flex-grow: 1;
}

.work img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
}
