*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'helvetica', sans-serif;
    letter-spacing: -0.015em;
    color: black;
    background-color: #e8e8e8e2;
    overflow-x: hidden;

}

a { text-decoration: none; color: inherit; }
ul { list-style: none; }
img { width: 100%; display: block; height: auto; }

#intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.scroll-down-btn {
    font-size: 1.5rem;
    font-weight: bold;
    transition: all 0.3s;
}

.container {
    display: flex;
    align-items: flex-start;
    padding-top: 80px;      
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 100px;
    min-height: 100vh;
}

#top-nav {
    position: sticky;
    background-color: #e8e8e8;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: auto;
    padding: 0;
    z-index: 100;
}

#top-nav a {
    gap: 20px;
    font-size: 18px;
    color: black;
    font-weight: 500;
}

#top-nav a:hover {
    color: #0000ee;
    text-decoration: underline;
}

.side-nav {
    position: sticky;
    width: 200px;
    flex-shrink: 0;
    margin-right: 40px;
}

.side-nav li { margin-bottom: 2.5px; }

.side-nav a {
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

.side-nav a:hover {
    color: #0000ee;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-style: italic;
}

.subMenu {
    margin-top: 6px;  /* 이 숫자를 늘리면 Projects와 type 사이가 멀어집니다 */
 /* 들여쓰기 유지 */
}

.subMenu a {
    margin-left: 14px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    line-height: 1.2;
}

.subMenu a:hover {
    color: #0000ee;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-style: italic;
}

.subMenu .menu-label {/*year*/
    margin-bottom: 6px !important;
    margin-left: -19px;
    font-size: 17px;
    font-weight: 500;
    color: #0000ee;
    text-transform:lowercase;
    pointer-events: none;
}

.gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.work {
    width: 100%;
}

.work img {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.workText {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.9rem;
    font-weight: 700;
    line-height: 1.4;
}

.additional {
    text-align: right;
    display: flex;
    flex-direction: column;
    color: #555;
    font-weight: normal;
}

.subMenu {
    margin-left: 20px;
}

@media (min-width: 1400px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* 태블릿 */
@media (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .side-nav { width: 150px; margin-right: 40px; }
}

/* 모바일 */
@media (max-width: 768px) {
    

    .container {
        flex-direction: row;
        padding: 40px 30px;
    }
    .side-nav {
        width: auto;
        margin-right: 30px;
        top: 40px;
        position: sticky;
    }

    .side-nav a { 
        font-size: 18px;
    } 

    .subMenu a { 
        font-size: 17px;

    }

    .subMenu .menu-label {
        font-size: 15px;
    }
    
    .gallery {
        grid-template-columns: 1fr;
    }
}