body {
    font-family: Helvetica;
    background-color: #ffffffe2;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

a {
    text-decoration: none;
}

.top-nav ul {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 250px;
    list-style: none;
}

.top-nav a {
    color: black;
}

.work {
  display: inline-block;
  text-align: right;
  flex-direction: column;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 50px;
    margin-right: 70px;
    margin-left: 70px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

.workText {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 5px;    
}

.workName {
    text-align: start;
    font-size: 10px;
    color: #000;
}

.additional {
    display: flex;
    flex-direction: column;
}

.workType {
    width: 50%;
    font-size: 10px;
    color: #000;
    margin-bottom: 2px;
}

.workDate {
    font-size: 10px;
    color: #000;
    padding-bottom: 100px;
    margin-top: 0;
}