body {
    font-family: Helvetica;
    background-color: #ebefeee2;
    margin: 0;
    padding: 0;
    font-size: smaller;
}

a {
    text-decoration: none;
}

.top-nav ul {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    list-style: none;
}

.top-nav a {
    color: black;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    padding: 300px 40px 100px;
}

.work {
    position: relative;
    overflow: hidden;
    flex: 1 1 250px;
    max-width: 300px;
}

.work img {
    width: 100%;
    height: auto;
    display: block;
}

.workName {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 10px;
    text-align: left;
    color: #ebefeee2;
    opacity: 0;
    transition: opacity 0.1s ease; 
}

.work:hover .workName {
    opacity: 1;
}